html{
    height: 100%;
}

body {
    
    background-image: url(images/bg-stars.svg), linear-gradient(hsl(234, 17%, 12%), hsl(235, 16%, 14%));
    background-position: center;
    font-family: Red Hat Text;
    text-align: center;
}

h1 {
    color: white;
    margin-top: 5%;
    width: 70%;
}

#page-container{
    display: flex;
    flex-direction: column;
    align-items: center;
}

#countdown-container{
    border-radius: 10px;
    color: white;
    display: flex;
    flex-wrap: wrap;
    margin-top: 2.5%;
    width: 100%;
    justify-content: center;
}

.countdown-element{
   /* background: linear-gradient(0deg, rgb(128, 130, 168) 49.5%, rgb(61, 42, 143) 5%);  */
   border-radius: 10px;
   box-shadow: 0px 5px #1A1A24;
   /* flex:1, 1, 100%; */
   color: hsl(345, 95%, 68%);
   font-size: 60px;
   overflow: hidden;
   margin: 0 10px;
   height: 150px;
   width: 150px;
   z-index: 0;
   
}

.countdown-element-top{
    background-color: rgb(44, 44, 68);
    border-radius: 10px 10px 0 0;
    
    color:rgb(206, 83, 114);
    border-bottom: none;
    height: 75px;
    overflow: hidden;
    position: relative;
    top: 5px;
    width: 100%;
    /* z-index: 1; */
 }

 .countdown-element-top-next{
    background-color: rgb(44, 44, 68);
    border-radius: 10px 10px 0 0;
    border: solid 1px black;
    color:rgb(206, 83, 114);
    height: 75px;
    margin: -1px;
    overflow: hidden;
    position: relative;
    top: -70px;
    width: 100%;
    z-index: 1;
 }


 .countdown-element-top-flipped{
    background: hsl(236, 21%, 26%);
    color: hsl(236, 21%, 26%);
    transform: rotateX(180deg);
    transform-origin: 0 100%;
    transform-style: preserve3d;
    transition: transform, color, ease, 0.3s;
    z-index: 2;
 }

 .countdown-element-bottom{
    background-color: hsl(236, 21%, 26%);
    border-radius: 0 0 10px 10px;
    /* border: solid thin black; */
    box-shadow: 100px 5px black;
    height: 75px;
    position: relative;
    overflow: hidden;
    top: -80px;
 }




 .countdown-element-number-top{
    margin: 35px 30px;
    opacity: 1;
    position: relative;
 }
 .countdown-element-number-top-next{
    margin: 35px 30px;
    opacity: 1;
    position: relative;
 }
 .countdown-element-number-bottom{
    margin: -40px;
   position: relative;
}

 .bevel-container{
    display: flex;
    justify-content: space-between;
    position: relative;
    top: -75px;
 }

 

.mid-left{
    z-index: 2;
    background: rgb(26,24,35);
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
    width: 5px;
    height: 10px;
 }

 .mid-right{
    z-index: 2;
    right: 0;
    background: rgb(26,24,35);
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
    width: 5px;
    height: 10px;
 }
.label-container{
    display: flex;
    justify-content: center;
    margin-top: 2.5%;
    color: white;
    width: 100%;
}
.countdown-label{  
    font-size: 14px;
    color: hsl(237, 18%, 59%);
    margin: 0 10px;
    width: 150px;
    
 }

#hills-container{
    background-image: url(images/pattern-hills.svg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    bottom: 0%;
    display: flex;
    flex-direction: column;
    height: 30%;
    justify-content: flex-end;
    position:absolute;
    text-align: center;
    width: 100%;
}



#social{
    display: flex;
    justify-content: space-evenly;
    margin: auto;
    width: 20%;
}

#social img:hover{
    filter: invert(56%) sepia(94%) saturate(2584%) hue-rotate(310deg) brightness(101%) contrast(97%);
}

#attribution{
    color: white;
}


/* Media Queries */
@media (max-width: 700px) {
    .countdown-element{
        /* background: linear-gradient(0deg, rgb(128, 130, 168) 49.5%, rgb(61, 42, 143) 5%);  */
        font-size: 25px;
        margin: 0 5px;
        height: 75px;
        width: 60px;
     }
     .countdown-element-top{
        height: 37.5px;
        top: 2.5px;
           
     }
     .countdown-element-top-next{ 
        height: 37.5px;
        top: -32.5px;
     }
    
    
     .countdown-element-bottom{
        height: 37.5px;
        top: -42.5px;
     }
    
  
     .countdown-element-number-top{
        margin: 20px auto;
     }
     .countdown-element-number-top-next{
        margin: 20px auto;
     }
     .countdown-element-number-bottom{
        margin: -17px auto;
    }
    
     .bevel-container{
        top: -37.5px;
     }


     .countdown-label{  
        
        margin: 0 5px;
        width: 60px;
        
     }
}